<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
        <h2>Login</h2>
        <form (ngSubmit)="onLogin()">
          <div>
            <input type="text" [(ngModel)]="emailOrPhone" name="emailOrPhone" placeholder="Informar e-mail ou telefone" required />
          </div>
          <button type="submit" class="login-button">Continuar</button>
        </form>
        </div>
      </div>
      <p>Hi</p>
</body>
</html>