
body {
  font-family: 'Roboto', sans-serif;
}

.header-container {
    background-color: black;
    color: white;
    padding: 2px;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .login-box {
    background: white;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    margin: 0.5rem auto;
    padding: 12px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    background-color: #EEEEEE;
    font-size: 16px;
  }
  
  .login-button {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #333;
  }